#File esclusi
src/services/
src/components/ModalUsage.tsx
src/components/ModalSettings.tsx
src/components/ModalResetPassword.tsx
src/components/ModalLogout.tsx
src/components/ModalConfirmAccount.tsx

node_modules
*.local
*.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
